
  .disableZoom {
    touch-action: manipulation;
  }
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
    :root {
      --enboss-secondary: #9fc6e2;
      --enboss-primary: #1E96D6;
      --blur-header:rgba(250,250,250,0.7);
      --white-100: hsl(206, 5%, 100%);
      --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
         0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
    
    *,
    *::before,
    *::after {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style: none;
      list-style-type: none;
      text-decoration: none;
      font-weight: unset;
      font-size: unset;
      line-height: unset;
      word-spacing: unset;
      letter-spacing: unset;
      font-family: unset;
  
    }
    
    html {
      font-size: unset;
      box-sizing: inherit;
      scroll-behavior: smooth;
      height: -webkit-fill-available;
    }
    
    body {

      background-color: var(--white-100);
    }
    
    main {
      padding-top: 64px;
      overflow: hidden;
    }
    
    a,
    button {
      cursor: pointer;
      user-select: none;
      border: none;
      outline: none;
      background: none;
    }

    
    .section {
      margin: 0 auto;
      padding: 6rem 0 2rem;
      background-color: var(--enboss-secondary);
    }
    
    .container {
      max-width: 75rem;
      height: auto;
      margin: 0 auto;
      padding: 0 1.25rem;
    }
    
    .centered {
      text-align: center;
      vertical-align: middle;
      margin-bottom: 1rem;
    }
    
header {
  font-family: "Inter", system-ui, ui-sans-serif, sans-serif;
}
    
    .header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: auto;
      margin: 0 auto;
      background-color: var(--blur-header);
      backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
      box-shadow: var(--shadow-medium);
    }
    
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 4rem;
      margin: 0 auto;
    }
    
    .brand {
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 0.7;
      color: var(--black-500);
      text-transform: uppercase;
    }
    
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-color: var(--blur-header);
      box-shadow: var(--shadow-medium);
      transition: all 0.4s ease-in-out;
      backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    }
    .menu.is-active {
      left: 0;
    }
    .menu-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1.25rem;
      margin-top: 8rem;

    }
    .menu-link {
      font-family: inherit;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      color: var(--enboss-primary);
      text-transform: uppercase;
      transition: all 0.3s ease;
    }
    .menu-block {
      font-size: 1.5rem;
      text-align: center;
      margin-right: 50px;
      color: var(--black-500);
    }
    @media only screen and (min-width: 48rem) {
      .menu {
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.0);
      }

      .menu-link {
      font-size: 15px;
      }
      .menu-block {
        margin-right: 0;
      }

      .menu-inner {
        display: flex;
        flex-direction: row;
        column-gap: 1.75rem;
        margin: 0 auto;
        
      }
    }
    
    .burger {
      position: fixed;
      right: 0;
      margin-right: 20px;
      display: block;
      order: -1;
      cursor: pointer;
      user-select: none;
      z-index: 10;
      width: 1.6rem;
      height: 1.15rem;
      rotate: 0deg;
      border: none;
      outline: none;
      visibility: visible;
      background: none;
      transition: 0.35s ease;
      padding: 20px;
    }
    @media only screen and (min-width: 48rem) {
      .burger {
        display: none;
        visibility: hidden;
      }
    }
    .burger-line {
      position: absolute;
      display: block;
      right: 0;
      width: 100%;
      height: 2.1px;
      opacity: 1;
      rotate: 0deg;
      border: none;
      outline: none;
      border-radius: 1rem;
      background-color: var(--enboss-primary);
      transition: 0.25s ease-in-out;
    }
    .burger-line:nth-child(1) {
      top: 0.6rem;
      width: 50%;
    }
    .burger-line:nth-child(2) {
      top: 1.1rem;
      width: 65%;
    }
    .burger-line:nth-child(3) {
      top: 1.7rem;
      width: 35%;

    }
    .burger.is-active > .burger-line:nth-child(1) {
      top: 1rem;
      rotate: 135deg;
      width: 80%;
 
    }
    .burger.is-active > #burger {
      top: 1rem;
      rotate: 135deg;
    right:1; 
    }
    .burger.is-active > .burger-line:nth-child(2) {
      opacity: 0;
      visibility: hidden;
      
    }
    .burger.is-active > .burger-line:nth-child(3) {
      top: 1rem;
      rotate: -135deg;
      width: 80%;

    }




  /* ------ End of Header CSS ------ */
